
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover; */
    background:url("/assets/image-background.svg"); 
    color: rgb(255, 255, 255);
}


header {
    background: rgba(0,0,0,0);
    padding-bottom: 20px;
    color: rgb(182, 182, 182);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

h1{
    text-align: center;
    color: white;
}



.container-search{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input#search{
    height: 40px;
    width: 400px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background: rgba(149, 63, 196, 0.78);
    border:none;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    padding-left: 15px;
    margin-right: 20px;


}

input#search::placeholder{
    color: rgba(240, 255, 255, 0.7);
}

input#search:focus{
    background-color: rgba(149, 63, 196, 1);
}



.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: auto;
    border-radius: 20px;
    margin: 16px;
    background: rgba(149, 63, 196, 0.6);
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}


.container-iscompleted{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.container#add-container{
    width: 97.5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: none;
    margin: 15px 10px 0px 10px;
}


.add-modal{
    position:fixed;
    display: none;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.add-modal-content{
    background-color: rgba(116, 25, 165, 0.9);
    border-radius: 16px;
    border: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    height: 84vh; 
    text-align: center;
}

.add-modal-cancelbutton:hover{
    background-color: white;
    color: red;
}

.add-modal-cancelbutton{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #4C3575;
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-top: 10px;
    align-self: center;
    cursor: pointer;
    background: #ca1b0e;
}

.add-button{
    width: 40px;
    height: 40px;

    background: url('../assets/add-outline.svg');
    background-size: contain;
    cursor: pointer;
    border: none;

}

.add-button:hover{
    background: url('../assets/add-fill.svg');
    background-size: contain;
    color: #F5F1FF;
}


.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: rgba(210, 208, 215, 0.3);
    border: 0.8px solid rgba(255, 255, 255, 0.541);
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    height: 410px;
    border-radius: 16px;
    box-shadow: 2em;
}

.form-group {
    display: flex;
    flex-direction: column;
}


.form-group label {
    font-size: 18px;
    font-weight: lighter;
}



.form-group.form-checkbox{
   display: inline;
   margin-bottom: 20px;
   background-color: rgba(188, 99, 182, 0.5);
   width: 190px;
   padding: 5px;
   padding-top: 7px;
   padding-left: 20px;
   border-radius: 8px;
   align-self: flex-start;
   
}

#is-completed{
 cursor: pointer;
}

.button-container{
    display: flex;
    gap:20px;
    flex-direction: row;
    justify-content: center;
}

.modal-content-button.true-button{
    background-color: #5F30E2;
    border: 2px solid #5F30E2 ;
}
.modal-content-button.true-button:hover{
   color: #5F30E2;
}

.modal-content-button.false-button{
    background-color: #ca1b0e;
    border: 2px solid #ca1b0e ;
}
.modal-content-button.false-button:hover{
   color: #ca1b0e;
}


.form-group.form-checkbox label{
   color: white;
   cursor: pointer;
 }
 

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.form-group input[type=text], .form-group input[type=date], .form-group input[type=number] {
    font-family: 'Montserrat', sans-serif;
    background: rgba(181,165,222,0.9);
    border: 2px solid #9475EA;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 24px;
}

.btn-submit {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #4C3575;
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-top: auto;
    align-self: center;
    cursor: pointer;
    background: #371B58;
  
    
}

.btn-submit:hover {
    background-color: rgb(235, 235, 235);
    color: black;
}


.form-group input[type=text], .form-group input[type=date], .form-group input[type=number], .btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
    color: white;
}

.form-title {
    margin: auto 0;
}


.check-button {
    width: 40px;
    height: 40px;

    background: url('../assets/check-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
    color: #F5F1FF;
}

.trash-button {
    width: 40px;
    height: 40px;

    background: url('../assets/trash-outline.svg');
    background-size: contain;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.uncheck-button {
    width: 40px;
    height: 40px;

    background: url('../assets/uncheck-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.uncheck-button:hover {
    background: url('../assets/uncheck-fill.svg');
    background-size: contain;
}

.check-button:focus, .trash-button {
    outline: none;
}

.edit-button{
    width: 40px;
    height: 40px;

    background: url('../assets/pencil-outline.svg');
    background-size: contain;
    margin-left: 17px;
    cursor: pointer;
    border: none;
}

.edit-button:hover{
    background: url('../assets/pencil-fill.svg');
    background-size: contain;
}

.confirm-modal{
    position:fixed;
    display: none;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.confirm-modal-content{
    
    background-color: rgba(116, 25, 165, 0.9);
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    height: fit-content; 
    text-align: center;
}

.modal-content-button{
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    padding: 6px 19px;
    border: 2px solid #5F30E2;
    color: rgb(255, 255, 255);
    font-size: 19px;
    background: #5F30E2;
}

.modal-content-button:hover{
    background: #ffffff;
    cursor: pointer;
    color: #5F30E2;
}

.form-modal{
    position:fixed;
    display: none;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.form-modal-content{
    display: flex;
    flex-direction: column;
    background-color: rgba(116, 25, 165, 0.9);
    border-radius: 16px;
    border: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    margin: auto;
    height: fit-content; 
}

@media only screen and (max-width: 876px) {
    .container-iscompleted#container-iscompleted{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}

@media only screen and (max-width: 576px) {
    .container-iscompleted#container-iscompleted{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .button-container{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    
    
}