
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #5F30E2;
    padding: 16px;
    color: white;
}

h1{
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 1024px;
    border-radius: 20px;
    margin: 16px;
    background: #d0d0d0;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}


.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    height: 410px;
    border-radius: 16px;
    box-shadow: 2em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: lighter;
}

.form-group.form-checkbox{
   display: inline;
   margin-top: 10px;
   margin-bottom: 20px;
   background-color: #5F30E2;
   width: 190px;
   padding: 5px;
   padding-top: 7px;
   padding-left: 20px;
   border-radius: 8px;
   align-self: flex-start;
   
}

#is-completed{
 cursor: pointer;
}


.form-group.form-checkbox label{
   color: white;
   cursor: pointer;
 }
 

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

input[type=text], input[type=date], input[type=number], input[type=checkbox] {
    font-family: 'Montserrat', sans-serif;
    background: #F5F1FF;
    border: 2px solid #9475EA;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 24px;
}

.btn-submit {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #5F30E2;
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-top: auto;
    align-self: center;
    cursor: pointer;
    background: #5F30E2;
  
    
}

.btn-submit:hover {
    background-color: white;
    color: black;
}

input[type=text], input[type=date], input[type=number], .btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

.check-button {
    width: 40px;
    height: 40px;

    background: url('../assets/check-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
    color: #F5F1FF;
}

.trash-button {
    width: 40px;
    height: 40px;

    background: url('../assets/trash-outline.svg');
    background-size: contain;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.uncheck-button {
    width: 40px;
    height: 40px;

    background: url('../assets/uncheck-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.uncheck-button:hover {
    background: url('../assets/uncheck-fill.svg');
    background-size: contain;
}

.check-button:focus, .trash-button {
    outline: none;
}

.edit-button{
    width: 40px;
    height: 40px;

    background: url('../assets/pencil-outline.svg');
    background-size: contain;
    margin-left: 17px;
    cursor: pointer;
    border: none;
}

.edit-button:hover{
    background: url('../assets/pencil-fill.svg');
    background-size: contain;
}

.confirm-modal{
    position:fixed;
    display: none;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.confirm-modal-content{
    
    background-color: #fefefe;
    border-radius: 16px;
    border: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50%;
    margin: auto;
    height: fit-content; 
    text-align: center;
}

.modal-content-button{
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    padding: 6px 19px;
    border: 2px solid #5F30E2;
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    background: #5F30E2;
}

.modal-content-button:hover{
    background: #ffffff;
    cursor: pointer;
    color: #5F30E2;
}

.form-modal{
    position:fixed;
    display: none;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.form-modal-content{
    background-color: #fefefe;
    border-radius: 16px;
    border: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50%;
    margin: auto;
    height: fit-content; 
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }

    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }

    .list-item{
        width: auto;
    }
}